<div id ="body">
    <br />
    <ul id="decks"></ul>
    <br />
    @*<br />
    <ul id="deckComposition"></ul>
    <br />*@
</div>
<form id="saveDeckForm" method="post">
    <h3>Create a new Deck</h3>
    <p>
        <label for="deckName">Deck Name:</label><br />
        <input type="text" name="Name" />
    </p>
    
        <input type="button" id="saveDeck" value="Save Deck" />      
        <input type="button" id="getDeck" value="Get Deck" />
    <p>
        <br />
        <select id="shuffleMethod">
            <option>Simple</option>
            <option>Manual</option>
        </select>
        <input type="button" id="shuffleDeck" value="Shuffle Deck" />
    </p>
    <p>
        <h3>Deck Composition</h3>
        <br />
        <ol id="deckComposition"></ol>
    </p>
</form>
@*<form id="deckComp" method="post">
    <br />
    <h3>Deck Composition</h3>
    <br />
    <ol id="deckComposition"></ol>
    <br />
</form>*@
@section scripts{
<script type="text/javascript">
function loadDeckList() {
    setTimeout(function () { 
        $.getJSON('/api/Deck', function (decksJsonPayload) {
            $(decksJsonPayload).each(function (i, item) {
                $('#decks').append('<li>' + item.Name + '</li>');
            });
        });
    }, 300);
};
function loadDeck() {
    setTimeout(function () {
        $.getJSON('/api/Deck?' + $("#saveDeckForm").serialize(),
            function (decksJsonPayload) {
                $(decksJsonPayload).each(function (i, item) {
                    $('#deckComposition').append('<li>' + item + '</li>')
                });
            });
    }, 300);
};
function shuffleDeck() {
    var e = document.getElementById("shuffleMethod");
    var mtd = e.options[e.selectedIndex].value;
    setTimeout(function () {
        $.getJSON('/api/Deck?' + $("#saveDeckForm").serialize() + '&' + 'method=' + mtd,
        function (decksJsonPayload) {
        $(decksJsonPayload).each(function (i, item) {
            $('#deckComposition').append('<li>' + item + '</li>') 
        });
        });
    }, 300);
};
function postDeck() {
    $.post("/api/Deck",
    $("#saveDeckForm").serialize(),
    "json")
        .fail(function(){
            alert ("Creation failed. Check data")
        })
};
function clearDeckList() {
    $('#decks').empty()
};
function clearDeckComp() {
    $('#deckComposition').empty()
};



$(function main() {
    loadDeckList();
    $('#saveDeck').click(function () {
        postDeck();
        clearDeckList();
        loadDeckList();
    });
    $('#getDeck').click(function () {
        clearDeckComp();
        loadDeck();
        
    });
    $('#shuffleDeck').click(function () {
        shuffleDeck();
        clearDeckComp();
        //loadDeck();

    });
});
</script>
}
